<!DOCTYPE html>
<html>
  <head>
    <title>BMI</title>
    <link rel="stylesheet" href="BMI.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <div class="content">
          <h1>
            <span>BMI</span><br>CALCULATOR</h1>
          </div>
          <div class="wrapper">
            <h2><p>Height in CM:
                <input type="text" id="height"><br><span id="height_error"></span>
            </p></h2>
    
            <h2><p>Weight in KG:
                <input type="text" id="weight"><br><span id="weight_error"></span>
            </p></h2>
    
            <button id="btn">Calculate</button>
            <p id="output"></p>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
