<!DOCTYPE html>
<html>
  <head>
    <title>REGISTER</title>
    <link rel="stylesheet" href="Register.css" />
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <div class="'icon">
          <h2 class="logo">FITLOG</h2>
        </div>

        <div class="menu">
          <ul>
            <li><a href="#">MY DETAILS</a></li>
            <li><a href="#">CALCULATE BMI</a></li>
            <li><a href="#">NUTRITION VALUES</a></li>
            <li><a href="#">WORKOUTS</a></li>
            <li><a href="#">LOGOUT</a></li>
          </ul>
        </div>
        <div class="content">
          <h1>
            A Small Step to Fitness<br /><span>A Big Leap for Health</span>
          </h1>
        </div>

        <div class="form">
          <h2>REGISTER</h2>
          <input type="name" name="Full name" placeholder="Enter Full Name" />
          <input type="email" name="email" placeholder="Enter Email" />
          <input type="password" name="" placeholder="Enter Password" />
          <input type="password" name="" placeholder="Confirm Password" />
          <button class="btn"><a href="#">Submit</a></button>

          <br />
          <div class="account">
            <p>
              Already have an account? <a href="./Login.html">Login Here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
